root = true

# Unix-style newlines with a newline ending every file, utf-8 charset
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Rust
[*.rs]
indent_style = space

# Misc
[*.{yaml,yml,nix,json,sh,service,socket,toml,te}]
insert_final_newline = true
indent_style = space
indent_size = 2

[*.md]
insert_final_newline = true
indent_style = space

[*.plist]
indent_style = tab

[*.ps1]
indent_style = space
indent_size = 4

[Cargo.lock]
indent_style = space
indent_size = 1

# selinux
[*.pp]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
