[Unit]
Description=Nix Daemon, with Determinate Nix superpowers.
Documentation=man:nix-daemon https://determinate.systems
RequiresMountsFor=/nix/store
RequiresMountsFor=/nix/var
RequiresMountsFor=/nix/var/nix/db
ConditionPathIsReadWrite=/nix/var/nix/daemon-socket

[Service]
ExecStart=@/nix/determinate/determinate-nix-ee
KillMode=process
LimitNOFILE=1048576
TasksMax=1048576

[Install]
WantedBy=multi-user.target
