name: Build aarch64 Linux (static)

on:
  workflow_call:

jobs:
  build-aarch64-linux:
    name: Build aarch64 Linux (static)
    runs-on: UbuntuLatest32Cores128GArm
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@main
      - uses: DeterminateSystems/flakehub-cache-action@main
      - name: Build the installer
        run: |
          nix build .#packages.aarch64-linux.nix-installer-static -L
          cp result/bin/nix-installer ./nix-installer-aarch64-linux
      - name: Create GitHub artifacts from build outputs
        uses: actions/upload-artifact@v6
        with:
          path: nix-installer-aarch64-linux
          name: nix-installer-aarch64-linux
