name: Build aarch64 Darwin

on:
  workflow_call:
    inputs:
      cache-key:
        type: string
        required: false
        default: aarch64-darwin-artifacts-${{ github.sha }}

jobs:
  build-aarch64-darwin:
    name: Build aarch64 Darwin (static)
    runs-on: namespace-profile-mac-m2-12c28g
    concurrency: ${{ inputs.cache-key }}
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          determinate: true
      - uses: DeterminateSystems/flakehub-cache-action@main
        with:
          use-gha-cache: false
      - name: Build the installer
        run: |
          nix build .#packages.aarch64-darwin.nix-installer-static -L
          cp result/bin/nix-installer .
      - name: Create GitHub cache from build artifacts
        uses: actions/cache/save@v4
        with:
          path: nix-installer
          key: ${{ inputs.cache-key }}
