name: Build x86_64 Linux (static)

on:
  workflow_call:
    inputs:
      cache-key:
        type: string
        required: false
        default: x86_64-linux-artifacts-${{ github.sha }}

jobs:
  build-x86_64-linux:
    name: Build x86_64 Linux (static)
    runs-on: UbuntuLatest32Cores128G
    concurrency: ${{ inputs.cache-key }}
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          determinate: true
      - uses: DeterminateSystems/magic-nix-cache-action@main
        with:
          use-gha-cache: false
      - name: Build the installer
        run: |
          nix build .#packages.x86_64-linux.nix-installer-static -L
          cp result/bin/nix-installer .
      - name: Create GitHub cache from build artifacts
        uses: actions/cache/save@v4
        with:
          path: nix-installer
          key: ${{ inputs.cache-key }}
