name: Release Tags

concurrency:
  group: release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-x86_64-linux:
    uses: ./.github/workflows/build-x86_64-linux.yml
    with:
      cache-key: release-x86_64-linux-artifacts-${{ github.sha }}
  build-aarch64-linux:
    uses: ./.github/workflows/build-aarch64-linux.yml
    with:
      cache-key: release-aarch64-linux-artifacts-${{ github.sha }}
  build-x86_64-darwin:
    uses: ./.github/workflows/build-x86_64-darwin.yml
    with:
      cache-key: release-x86_64-darwin-artifacts-${{ github.sha }}
  build-aarch64-darwin:
    uses: ./.github/workflows/build-aarch64-darwin.yml
    with:
      cache-key: release-aarch64-darwin-artifacts-${{ github.sha }}

  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # In order to upload artifacts to GitHub releases
      id-token: write # In order to request a JWT for AWS auth
    needs:
      - build-x86_64-linux
      - build-aarch64-linux
      - build-x86_64-darwin
      - build-aarch64-darwin
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Create artifacts directory
        run: mkdir -p ./artifacts

      - name: Fetch cached x86_64-linux binary
        uses: actions/cache/restore@v3
        with:
          path: nix-installer
          key: x86_64-linux-artifacts-${{ github.sha }}
      - name: Move artifact to artifacts directory
        run: mv ./nix-installer ./artifacts/nix-installer-x86_64-linux

      - name: Fetch cached aarch64-linux binary
        uses: actions/cache/restore@v3
        with:
          path: nix-installer
          key: aarch64-linux-artifacts-${{ github.sha }}
      - name: Move artifact to artifacts directory
        run: mv ./nix-installer ./artifacts/nix-installer-aarch64-linux

      - name: Fetch cached x86_64-darwin binary
        uses: actions/cache/restore@v3
        with:
          path: nix-installer
          key: x86_64-darwin-artifacts-${{ github.sha }}
      - name: Move artifact to artifacts directory
        run: mv ./nix-installer ./artifacts/nix-installer-x86_64-darwin

      - name: Fetch cached aarch64-darwin binary
        uses: actions/cache/restore@v3
        with:
          path: nix-installer
          key: aarch64-darwin-artifacts-${{ github.sha }}
      - name: Move artifact to artifacts directory
        run: mv ./nix-installer ./artifacts/nix-installer-aarch64-darwin

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_S3_UPLOAD_ROLE }}
          aws-region: us-east-2
      - name: Publish Release to S3 (Tag)
        env:
          AWS_BUCKET: ${{ secrets.AWS_S3_UPLOAD_BUCKET }}
        run: |
          exit 1
          ./upload_s3.sh "$GITHUB_REF_NAME" "$GITHUB_SHA" "https://install.determinate.systems/nix/tag/$GITHUB_REF_NAME"
      - name: Publish Release to GitHub (Tag)
        uses: softprops/action-gh-release@v1
        with:
          fail_on_unmatched_files: true
          draft: true
          files: |
            artifacts/**
            nix-installer.sh
      - name: Install Instructions (Tag)
        run: |
          cat <<EOF
          This tag can be installed by running the following command:

          curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix/tag/$GITHUB_REF_NAME | sh -s -- install
          EOF
