name: Release Tags

on:
  release:
    types:
      - published

permissions:
  contents: write # In order to upload artifacts to GitHub releases
  id-token: write # In order to request a JWT for AWS auth

jobs:
  build-x86_64-linux:
    uses: ./.github/workflows/build-x86_64-linux.yml
  build-aarch64-linux:
    uses: ./.github/workflows/build-aarch64-linux.yml
  build-aarch64-darwin:
    uses: ./.github/workflows/build-aarch64-darwin.yml

  release:
    environment: production
    runs-on: ubuntu-latest
    needs:
      - build-x86_64-linux
      - build-aarch64-linux
      - build-aarch64-darwin
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create artifacts directory
        run: mkdir -p ./artifacts

      - name: Fetch x86_64-linux binary artifact
        uses: actions/download-artifact@v6
        with:
          name: nix-installer-x86_64-linux
      - name: Fetch aarch64-linux binary artifact
        uses: actions/download-artifact@v6
        with:
          name: nix-installer-aarch64-linux
      - name: Fetch aarch64-darwin binary artifact
        uses: actions/download-artifact@v6
        with:
          name: nix-installer-aarch64-darwin
      - name: Move binaries into upload staging dir
        run: |
          mv nix-installer-x86_64-linux artifacts/
          mv nix-installer-aarch64-linux artifacts/
          mv nix-installer-aarch64-darwin artifacts/

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_S3_UPLOAD_ROLE }}
          aws-region: us-east-2
      - name: Publish Release to S3 (Tag)
        env:
          AWS_BUCKET: ${{ secrets.AWS_S3_UPLOAD_BUCKET }}
        run: |
          ./upload_s3.sh "$GITHUB_REF_NAME" "$GITHUB_SHA" "https://install.determinate.systems/nix/tag/$GITHUB_REF_NAME"
      - name: Publish Release to GitHub (Tag)
        uses: softprops/action-gh-release@v1
        with:
          fail_on_unmatched_files: true
          draft: true
          files: |
            artifacts/**
            nix-installer.sh
      - name: Install Instructions (Tag)
        run: |
          cat <<EOF
          This tag can be installed by running the following command:

          curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix/tag/$GITHUB_REF_NAME | sh -s -- install
          EOF
